@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-controller="Account" asp-action="LogOff" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li style="font-size:medium; display:block; color:gray">
                <a class="nav-link text-dark">@User.Identity.Name</a>
            </li>
            <li>
                <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"> <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Registration</a></li>

    </ul>
}