@model HotelIntitity.Models.Room
@{
    ViewData["Title"] = "Details";
}
<h2>Детально</h2>
<div>
    <h4>Номер отеля</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Номер
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>


        <dt>
            Тип номера
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.Type)
        </dd>
        <dt>
            Цена номера
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
